.btn{
    margin-right: 10px;}
.card-img-top{
    width: 32%; display:block; margin:auto; margin-top: 16%;}
.card-title,.card-text:last-child{
    text-align: center;}
.card-deck .card {
    background: #fafafa;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #4059d9;}
.navbar-light .navbar-nav .nav-link {
    padding: 0px;
    padding-bottom: 7px;
    margin: 8px;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #4059d9;
    border-bottom: 4px solid #4059d9;}

.navbar-expand-lg .navbar-collapse {
    margin-bottom: -1.1%;
    margin-left: 20%;}

.nav-item{
    font-weight: bold;
    margin-right: 50px;}

.card-title {
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: bolder;}

.card-text:last-child {
    margin-bottom: 20px;
    font-size: 19px;}

.card-body {
    position: relative;
    top: 4%;
}

.card {
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card-hover-item {
    position: absolute;
    width: 100%;
    transition: transform .3s ease;
}

.card:hover .card-hover-item {
    transform: translateY(0);
}

.card-hover-box {
    top: 0;
    height: 50%;
    transform: translateY(-101%);
    background-color: #000;
}

.card-hover-footer {
    bottom: 0;
    transform: translateY(101%);
}

.card-hover-footer p {
    margin: 0;
}

.tag-wrapper {
    width: 82%;
    margin: auto;
    padding-bottom: 35px;
    text-align: center;
}